tr.cheppers-formatter-table-orange {
  background: #FFA600 !important;
}

tr.cheppers-formatter-table-blue {
  background: #ACD8E7 !important;
}

tr.cheppers-formatter-table-green {
  background: #02E475 !important;
}
